<#@ template language="C#" hostspecific="false" debug="false" #>
<#@ output extension=".g.cs" #>
<#@ include file="Handler.ttinclude" #><#
    var def = new HandlerDef()
    {
        ClassName = "CefBase",
        StructName = "cefglue_base_t",
		
		ReversibleNativePointer = true,
    };

    WriteHandler(def);
#>