<#@ template language="C#" hostspecific="false" debug="false" #>
<#@ output extension=".g.cs" #>
<#@ include file="Handler.ttinclude" #><#
    var def = new HandlerDef()
    {
        ClassName = "CefCookieVisitor",
        StructName = "cef_cookie_visitor_t",
    };

    def.AddProperty("visit");

    WriteHandler(def);
#>