<#@ template language="C#" hostspecific="false" debug="false" #>
<#@ output extension=".g.cs" #>
<#@ include file="Handler.ttinclude" #><#
    var def = new HandlerDef()
    {
        ClassName = "CefFindHandler",
        StructName = "cef_find_handler_t",
    };

    def.AddProperty("on_find_result");

    WriteHandler(def);
#>