<#@ template language="C#" hostspecific="false" debug="false" #>
<#@ output extension=".g.cs" #>
<#@ include file="Handler.ttinclude" #><#
    var def = new HandlerDef()
    {
        ClassName = "CefJSBindingHandler",
        StructName = "cef_jsbinding_handler_t",
    };

    def.AddProperty("on_jsbinding");

    WriteHandler(def);
#>