<#@ template language="C#" hostspecific="false" debug="false" #>
<#@ output extension=".g.cs" #>
<#@ include file="Handler.ttinclude" #><#
    var def = new HandlerDef()
    {
        ClassName = "CefLoadHandler",
        StructName = "cef_load_handler_t",
    };

    def.AddProperty("on_load_start");
    def.AddProperty("on_load_end");
    def.AddProperty("on_load_error");

    WriteHandler(def);
#>