<#@ template language="C#" hostspecific="false" debug="false" #>
<#@ output extension=".g.cs" #>
<#@ include file="Proxy.ttinclude" #><#
    var def = new ProxyDef()
    {
        ClassName = "CefV8Context",
        StructName = "cef_v8context_t",
    };

    def.AddMethod("get_browser");
    def.AddMethod("get_frame");
    def.AddMethod("get_global");
    def.AddMethod("enter");
    def.AddMethod("exit");

    WriteProxy(def);
#>