<#@ template language="C#" hostspecific="false" debug="false" #>
<#@ output extension=".g.cs" #>
<#@ include file="Proxy.ttinclude" #><#
    var def = new ProxyDef()
    {
        ClassName = "CefWebUrlRequest",
        StructName = "cef_web_urlrequest_t",
    };

    def.AddMethod("cancel");
    def.AddMethod("get_state");

    WriteProxy(def);
#>